body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.navbar {
  background-color: darkblue;
  margin-bottom: 30px;
}

.search-form {
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  width: 60vw;
  margin-right: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  padding: 0;
  margin: auto;
  max-width: calc(100vw - 30px);
  list-style: none;
  margin-bottom: 30px;
}

.gallery img {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.photo-card {
  min-width: 300px;
}

.card-body {
  padding: 10px 0px;
}

.info {
  display: flex;
  text-align: center;
}

.info-item {
  word-wrap: break-word;
  margin: 0px 5px 0px 0px;
}

.load-more {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.load-more.is-hidden {
  display: none;
}

.load-more > .spinner.is-hidden {
  display: none;
}
